<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>
<body>
    <div class="line"></div>
    <div class="line"></div>
    <nav>
        <h2>Email Spam Detection </h2>
    </nav>
    <div class="line"></div>
     <div class="line"></div>  

     <div class="container">
        <form action = "" method = "POST">
            <label for="mail">Enter Email Here:</label><br>
            <input type="text" id="mail" name="mail" ><br> 
            <input type="submit" class="enter" value="Enter" class="btn text-white btn-block btn-success fs-4">
        </form>
        <!-- <form action="{{url_for('static', filename = 'output/results.csv')}}">
            <button type="submit" class="enter" class="btn btn-success reduce_margin downloadBtn">Download attendance sheet</button>
        
        </form> -->
        <p style="margin: auto; justify-content:center; align-items: center; color: red;font-size: 1.5rem;font-weight: bold;margin-bottom: 40px;">{{msg}}</p>
     </div>
</body>
</html>